{% extends  'WalvaCrudAdminBundle:Crud:new.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-lg-12">

            {% block crud_top_button %}
                <div style="padding-bottom: 44px;">
                    <div class="pull-left" style="padding-bottom: 10px;">
                        <a href="{{ path(routeIndex) }}" class="btn btn-default">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            Back to the list
                        </a>
                    </div>

                </div>
            {% endblock %}

            {{ form_start(form, { 'style': 'horizontal', 'col_size': 'sm'}) }}
            {{ form(form) }}
            {{ form_end(form) }}

            <hr>
        </div>
    </div>
{% endblock %}
