{% extends '::advertiser.html.twig' %}


{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Créer une campagne publicitaire en quelques étapes !</h1>
        </div>
        <p class="lead"> <code>padding-top: 60px;</code> on the <code>body > .container</code>.</p>
        <p>Back to <a href="../sticky-footer">the default sticky footer</a> minus the navbar.</p>

        <div class="row text-center">
            <div class="col-md-4 text-center">
                <h2>1. Créer une <a href="#">campagne</a></h2>
                <p class="lead">Définissez le nombre de clic ou le nombre de vue, activez ou désactivez votre campagne quand bon vous semble.</p>
            </div>
            <div class="col-md-4"><h2>2. Choissisez les <a href="#">emplacements</a> sur notre site.</h2>
                <p class="lead">Définissez le nombre de clic ou le nombre de vue, activez ou désactivez votre campagne quand bon vous semble.</p>
            </div>
            <div class="col-md-4">
                <h2>3. Uploader vos <a href="#">publicités</a> dans les langues de votre chois</h2>
                <p class="lead">Définissez le nombre de clic ou le nombre de vue, activez ou désactivez votre campagne quand bon vous semble.</p>
            </div>
        </div>
    </div>

{% endblock content %}
