{% extends '::advertiser.html.twig' %}

{# entity \Walva\AdSiteBundle\Entity\Space #}

{% block css %}
    {{ parent() }}

{% endblock %}




{% block content %}
    {% set spaces = entities %}
    {% set spaces_content_light = false %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Liste des espaces disponibles sur le site</h1>
                <hr>
                <dl class="dl-horizontal">
                    {% for entity in spaces %}

                        <dt>{{ entity.name }}</dt>
                        <dd>{{ entity.format }}</dd>
                    {% endfor %}
                </dl>
                {% include '@WalvaAdSite/Advertiser/Components/info_want_more.html.twig' %}
            </div>
        </div>
        {{ include('@WalvaAdSite/Advertiser/spaces_content.html.twig') }}
    </div>

{% endblock content %}

