{% extends  "WalvaAdSiteBundle::layout.html.twig" %}

{% block breadcrumb %}
{{ parent() }}
<li class="">Ads</li>
{% endblock %}

{% block header_title %}
<span class="glyphicon glyphicon-play-circle"></span> Publicité
{% endblock %}

{% block content %}
<h1>Hello {{ name }}!</h1>
<hr>
{% endblock %}