{% extends  'WalvaCrudAdminBundle:Crud:new.html.twig' %}

{% form_theme form '@WalvaAdSite/Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block content %}
    <h1>Space creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('space') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
