<div class="alert alert-info" role="alert"><strong>Formats et espaces publicitaires</strong> Pour
    information, Il nous est possible de vous proposer d'avantage
    de format et d'espaces publicitaires sur notre site. Pour cela, n'hésitez pas à nous
    <a href="{{ path('haf_contact', {'langue' : 'fr'}) }}">contacter</a>.
</div>